################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs/C-Sharp_WindowSize_Changer.slnx
/obj
/bin/Debug/net10.0-windows
